.reviews-swiper .swiper-slide {
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  color: #fff;
  background-color: transparent;
}

.reviews-swiper .swiper {
  width: 100%;
}

.reviews-swiper .swiper-slide-active {
  transform: scale(1.05);
}

.reviews-swiper .swiper-slide-shadow {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
