.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 5px;
    color: #000000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
  